@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@300&display=swap'); 

body {
    margin: 0;
}

.intro {
    width: 100%;
    height: 90vh;

    background:
    url("../project/pine.jungle.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.jobad {
    font-size: 15px;
    font-weight: 700;
    color: #86A5FE;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
    font-family: Nunito;
}

.jobad a {
    text-decoration: none;
    color: #333;
}

.jobad a:hover {
    color: #5984FE;
    
}


.csd {
    display: flex;
    font-family: Nunito;
    font-size: 18px;
    margin-left: 185px;
    margin-top: 30px;
}

.csd .ted{
    color: #000000;
    font-size: 11px;
    text-transform: uppercase;
}

.csd .client {
    padding: 0 15px;
}

.csd .services{
    border-left: 1px solid rgba(0,0,0,.05);
    padding: 0 15px;
}
.csd .date{
    border-left: 1px solid rgba(0,0,0,.05);
    padding: 0 15px;
}
.btn {
    font-family: Rubik;
    font-size: 43px;
}
.text {
   margin-left: 200px;
   margin-right: 200px;
   color: #666666;
   font-family: Nunito;
   font-size: 16px;
   margin-bottom: 100px;
}

.textfirst {
    margin-top: -100px;
    margin-bottom: 50px;
    font-weight: 100;
}
.textsecond {
    font-weight: 100;
}


.bottom {
    background-color: rgb(224, 224, 224);
    height: 425px;
    overflow: hidden;
    padding-bottom: 10px;
    display: flex;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(75, 75, 75, 0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(75, 75, 75, 0.75);
      box-shadow: 0 1px 30px -3px  rgba(75, 75, 75, 0.75);
}
.bottoms {
    margin-left: 200px;
    display: flex;

}
.o {
    padding-left: 100px;
    margin-top: 70px;
    width: 350px;
    font-family: Rubik;
}
.h {
    margin-top: 60px;
    font-family: Rubik;
}
.horizontal {
    font-weight: 700;
    font-size: 25px;
}
.our {
    font-weight: 700;
    font-size: 20px;
}

.textthird {
    font-family: Nunito;
    font-weight: 100;
    padding-right: 80px;
    text-align: justify;
}

.h img {
    width: 10%;
    margin-right: 15px;
}
.more {
    text-decoration: none;
    color: blue;
}

#read {
    font-style: italic;
}
.p {
    margin-top: 70px;
    font-family: Rubik;
}
.product {
    font-weight: 700;
    font-size: 20px;  
}
.shoes {
    width: 5%;
    border-radius: 20%;

    
}
