.header{
    position:fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: none;
}

.header-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
}

.header-total>img{
    width: 150px;
    filter: invert(1);
}
.header-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-right a> img{
    width:30px;
    height: 30px;
    filter: invert(1);
}
.header-right>img{
    width:30px;
    height: 30px;
    filter: invert(1);
}

.header-right>img:last-child{
    padding-right: 10px;
    display: none;
    width: 40px;
    height: 40px;
}

.header a{
    text-decoration: none;
    color: #fff;
}

.header a::after{
    display:block;
    content: '';
    border-bottom: solid 2px #fff;  
    transform: scaleX(0);  
    transition: .4s;
}

a:hover:after{ transform: scaleX(1); }

@media(max-width:993px){
    .header-right a, .header-right>img{
        display: none;
    }

    .header-right #link-shop{
        display: block;
    }

    .header-right> img:last-child{
    display: block;
}
}

