.second-page{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.second-page--item{
    width: 50%;
    height: 100vh;
}

.second-page--item:first-child{
    background-color: #396EB0;
    color: #fff;
    padding: 150px 80px;
    z-index: 10;
}

.second-page--item:first-child h2{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.second-page--item:first-child p{
    font-size: 18px;
    line-height: 30px;
}

.second-page--item:last-child img{
    width: 100%;
    height: 100vh;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {width: 0;}
    to {width: 100%;}
  }


  
.effect {
    -webkit-animation-name: effect;
    -webkit-animation-duration: 1.5s;
    animation-name: effect;
    animation-duration: 1.5s;
  }


  @-webkit-keyframes effect {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes effcet {
    from {opacity: .4;}
    to {opacity: 1;}
  }


  @media(max-width:1032px){
    .second-page{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
    }
    .second-page--item:first-child p{
        font-size: 19px;
        line-height: 18px;
        font-family: 'Quicksand', sans-serif;
    }

    .second-page--item:last-child img{
        width: 100%;
        height: 50vh;
    }

    .second-page--item{ 
        width: 100%;
        height: 50vh;
    }

    .second-page--item:first-child{
        background-color: #517ffe;
        color: #fff;
        padding: 50px 20px;
        z-index: 10;
    }
  }

  @media(max-width:480px){
    .second-page--item:first-child p{
      font-size: 14px;
      line-height: 18px;
      font-family: 'Quicksand', sans-serif;
  }
  }
